block content
  head
    title Buscar y Modificar Determinación
    link(rel="icon", href="/public/img/icon.png", type="image/png")
  h1 Buscar y Modificar Determinación

  // Formulario de búsqueda por id_examen
  form(action="/modificar-determinacion/buscar-determinacion" method="post")
    label(for="id_examen") ID del Examen:
    input(type="text" name="id_examen" required)
    button(type="submit") Buscar Determinaciones

  // Mostrar resultados de búsqueda si los hay
  if determinacionesEncontradas
    h2 Determinaciones Encontradas
    table
      thead
        tr
          th ID
          th Nombre
          th Valor
          th Unidad de Medida
          th Sexo
          th Estado
          th Acciones
      tbody
        each determinacion in determinacionesEncontradas
          tr
            td= determinacion.id_Determinacion
            td= determinacion.Nombre_Determinacion
            td= determinacion.Valor
            td= determinacion.Unidad_Medida
            td= determinacion.Sexo
            td= determinacion.estado ? 'Activa' : 'Inactiva'
            td
              // Formulario para modificar estado
              form(action="/modificar-determinacion/modificar-estado" method="post")
                input(type="hidden" name="id_Determinacion" value=determinacion.id_Determinacion)
                label(for="estado") Modificar Estado:
                select(name="estado")
                  option(value="1" selected=determinacion.estado === 1) Activo
                  option(value="0" selected=determinacion.estado === 0) Inactivo
                button(type="submit") Cambiar Estado

  else
    p No se encontraron determinaciones para el ID de examen proporcionado.
