// buscarModificarValoresReferencia.pug
block content
  h1 Buscar y Modificar Valores de Referencia

  // Formulario de búsqueda por id_Determinacion
  form(action="/buscar-valores/buscar-valores-referencia", method="post")
    label(for="id_Determinacion") ID de la Determinación:
    select(name="id_Determinacion" required)
      if determinaciones && determinaciones.length > 0
        each determinacion in determinaciones
          option(value=determinacion.id_Determinacion) #{determinacion.Nombre_Determinacion}
      else
        option(value="", disabled) No hay determinaciones disponibles
    button(type="submit") Buscar Valores de Referencia

  // Mostrar resultados de búsqueda si los hay
  if valoresReferenciaEncontrados
    h2 Valores de Referencia Encontrados
    table
      thead
        tr
          th ID Valor Referecnia 
          th Edad Mínima
          th Edad Máxima
          th Sexo
          th Valor Mínimo
          th Valor Máximo
          th Estado
          th Acciones
      tbody
        each valorReferencia in valoresReferenciaEncontrados
          tr
            td= valorReferencia.id_ValorReferencia
            td= valorReferencia.Edad_Minima
            td= valorReferencia.Edad_Maxima
            td= valorReferencia.Sexo
            td= valorReferencia.Valor_Referencia_Minimo
            td= valorReferencia.Valor_Referencia_Maximo
            td= valorReferencia.estado ? 'Activo' : 'Inactivo'
            td
              // Enlace para crear/modificar valores de referencia
              a(href=`/buscar-valores/crear-modificar-valores-referencia/${valorReferencia.id_ValorReferencia}`) 
                | Crear/Modificar

    // Formulario para agregar nuevo valor de referencia
    h2 Agregar Nuevo Valor de Referencia
    form(action="/buscar-valores/agregar-nuevo-valor-referencia", method="post")
      input(type="hidden" name="id_Determinacion" value=determinacionSeleccionada)
      label(for="Edad_Minima") Edad Mínima:
      input(type="number" name="Edad_Minima" required)
      label(for="Edad_Maxima") Edad Máxima:
      input(type="number" name="Edad_Maxima" required)
      label(for="Sexo") Sexo:
      select(name="Sexo" required)
        option(value="M") Masculino
        option(value="F") Femenino
      label(for="Valor_Referencia_Minimo") Valor Mínimo:
      input(type="number" step="0.01" name="Valor_Referencia_Minimo" required)
      label(for="Valor_Referencia_Maximo") Valor Máximo:
      input(type="number" step="0.01" name="Valor_Referencia_Maximo" required)
      label(for="estado") Estado:
      select(name="estado" required)
        option(value="1") Activo
        option(value="0") Inactivo
      button(type="submit") Agregar Nuevo Valor de Referencia
  else
    p No se encontraron valores de referencia para la determinación proporcionada.
