extends layout

block content
  head
    title Buscar y Modificar Examen
    link(rel="icon", href="/public/img/icon.png", type="image/png")
  h1 Buscar y Modificar Examen

  div.container
    form(action="/modificar-examen/buscar-modificar-examen", method="post", class="mb-4")
      div.form-group
        label(for="id_examen") ID del Examen:
        input(type="text", name="id_examen", required, class="form-control")
      button(type="submit", class="btn btn-primary") Buscar Examen

    if examen
      h2 Examen Encontrado
      p
        | ID: #{examen.id_examen}
      p
        | Nombre: #{examen.nombre_examen}
      p
        | Descripci贸n: #{examen.descripcion}
      p
        | C贸digo: #{examen.codigo}
      p
        | Estado: #{examen.estado ? 'Activo' : 'Inactivo'}


      form(action="/modificar-examen/modificar", method="post", class="mt-4")
        input(type="hidden", name="id_examen", value=examen.id_examen)
        div.form-group
          label(for="nombre_examen") Nuevo Nombre del Examen:
          input(type="text", name="nombre_examen", value=examen.nombre_examen, required, class="form-control")

        div.form-group
          label(for="descripcion") Nueva Descripci贸n del Examen:
          textarea(name="descripcion", rows="3", class="form-control") #{examen.descripcion}

        div.form-group
          label(for="codigo") Nuevo C贸digo del Examen:
          input(type="text", name="codigo", value=examen.codigo, required, class="form-control")

        div.form-group
          label(for="estado") Estado:
          select(name="estado", class="form-control")
            option(value="1", selected=examen.estado === 1) Activo
            option(value="0", selected=examen.estado === 0) Inactivo

        button(type="submit", class="btn btn-primary") Modificar Examen
