extends layout

block content
  head
    title Actualizar orden de trabajo
  h1 Modificar Orden de Trabajo

  // Formulario de creación/modificación de órdenes de trabajo
  form(action=`/buscarOrdenes/crear-modificar-orden/${ordenTrabajoExistente.id_Orden}`, method="POST")
    .form-group
      label(for="idPaciente") ID del Paciente:
      input(type="text", name="idPaciente", value=ordenTrabajoExistente.id_Paciente, class="form-control", required)
    .form-group
      label(for="Fecha_Creacion") Fecha de Creación:
      input(type="text", name="Fecha_Creacion", value=ordenTrabajoExistente.Fecha_Creacion, class="form-control", required)
    .form-group
      label(for="estado") Estado:
      input(type="text", name="estado", value=ordenTrabajoExistente.estado, class="form-control", required)

    h2 Muestras Asociadas
    if ordenTrabajoExistente.Muestras && ordenTrabajoExistente.Muestras.length > 0
      .d-flex.flex-wrap
        each muestra in ordenTrabajoExistente.Muestras
          .m-2.p-2.border.card(style="width: 250px; height: 200px; background-color:8c8c8c;border-radius:20px;")
            label(for=`tipoMuestra_${muestra.id_Muestra}`) Tipo de Muestra:
            input(type="text", name=`tipoMuestra_${muestra.id_Muestra}`, value=muestra.Tipo_Muestra, class="form-control")
            label(for=`estadoMuestra_${muestra.id_Muestra}`) Estado de Muestra:
            select.form-control(name=`estadoMuestra_${muestra.id_Muestra}`)
              option(value="esperando_toma_muestra", selected=muestra.estado === 'esperando_toma_muestra') Esperando Toma de Muestra
              option(value="analitica", selected=muestra.estado === 'analitica') Analítica
    else
      p No se encontraron muestras asociadas a esta orden de trabajo.

    .form-group
      h2 Agregar nuevas muestras.
      label Tipos de Muestra:
      each tipo in tiposMuestra
        .form-check
          input.form-check-input(type="checkbox", name="tipos_muestra", value=tipo.value, id=tipo.value)
          label.form-check-label(for=tipo.value)= tipo.label
          select.form-control(name="estado_" + tipo.value)
            option(value="esperando_toma_muestra") Esperando Toma de Muestra
            option(value="analitica") Analítica

    // Botón para guardar la orden de trabajo
    button(type="submit", class="btn btn-primary") Guardar Orden de Trabajo
    a(href=`/buscarOrdenes/cancelar-orden/${ordenTrabajoExistente.id_Orden}`, class="btn btn-danger") Cancelar Orden
