extends layout

block content
  h1 Crear/Modificar Orden de Trabajo

  // Formulario de creación/modificación de órdenes de trabajo
  form(action=`/buscarOrdenes/crear-modificar-orden/${ordenTrabajoExistente.id_Orden}`, method="POST")
    .form-group
      label(for="idPaciente") ID del Paciente:
      input(type="text", name="idPaciente", value=ordenTrabajoExistente.id_Paciente, class="form-control", required)
    .form-group
      label(for="Fecha_Creacion") Fecha de Creación:
      input(type="text", name="Fecha_Creacion", value=ordenTrabajoExistente.Fecha_Creacion, class="form-control", required)
    .form-group
      label(for="estado") Estado:
      input(type="text", name="estado", value=ordenTrabajoExistente.estado, class="form-control", required)

    h2 Muestras Asociadas
    if ordenTrabajoExistente.Muestras && ordenTrabajoExistente.Muestras.length > 0
      each muestra in ordenTrabajoExistente.Muestras
        p
          | Muestra #{muestra.id_Muestra}:
          span Tipo: #{muestra.Tipo_Muestra}
          select.form-control(name=`estadoMuestra_${muestra.id_Muestra}`)
            option(value="esperando_toma_muestra", selected=muestra.estado === 'esperando_toma_muestra') Esperando Toma de Muestra
            option(value="analitica", selected=muestra.estado === 'analitica') Analítica
    else
      p No hay muestras asociadas a esta orden de trabajo.

    // Botón para añadir muestras
    button(type="button" id="agregarMuestra" class="btn btn-primary") Añadir Muestra

    // Contenedor para las muestras dinámicas
    div#muestrasContainer

    // Botones para guardar la orden de trabajo y cancelar
    button(type="submit" class="btn btn-primary") Guardar Orden de Trabajo
    a(href=`/buscarOrdenes/cancelar-orden/${ordenTrabajoExistente.id_Orden}`, class="btn btn-danger") Cancelar Orden

  script.
    document.addEventListener('DOMContentLoaded', function() {
      const agregarMuestraButton = document.getElementById('agregarMuestra');
      agregarMuestraButton.addEventListener('click', function() {
        const muestrasContainer = document.getElementById('muestrasContainer');

        const muestraDiv = document.createElement('div');
        muestraDiv.className = 'form-group';

        const muestraId = new Date().getTime(); // Genera un ID único para la muestra

        muestraDiv.innerHTML = `
          <label for="tipoMuestra${muestraId}">Tipo de Muestra:</label>
          <select name="tipoMuestra_${muestraId}" class="form-control">
            <option value="Sangre">Sangre</option>
            <option value="Orina">Orina</option>
            <option value="Heces">Heces</option>
            <option value="Liquido cefalorraquideo">Liquido cefalorraquideo</option>
            <option value="Saliva">Saliva</option>
            <option value="Secrecion Nasofaringea">Secrecion Nasofaringea</option>
          </select>
          <label for="estadoMuestra${muestraId}">Estado de Muestra:</label>
          <select name="estadoMuestra_${muestraId}" class="form-control">
            <option value="esperando_toma_muestra">Esperando Toma de Muestra</option>
            <option value="analitica">Analítica</option>
          </select>
          <button type="button" class="btn btn-danger" onclick="borrarMuestra(this)">Eliminar</button>
        `;

        muestrasContainer.appendChild(muestraDiv);
      });
    });

    function borrarMuestra(button) {
      const divMuestra = button.parentElement;
      divMuestra.parentNode.removeChild(divMuestra);
    }
