doctype html
html
  head
    title Generación de Orden de Trabajo
    link(rel="stylesheet", type="text/css", href="/public/css/style.css")
    link(rel="icon", href="/public/img/icon.png", type="image/png")
  body
    #container
      h1 Generación de Orden de Trabajo
      form(action="/orden/generacion-orden", method="POST")
        div
          label(for="paciente") Paciente:
          input(type="text", id="pacienteSearch", placeholder="Buscar paciente...", class="input-field")
          #pacienteResults
            // Aquí se mostrarán los resultados de búsqueda de pacientes
          input(type="hidden", name="id_paciente", id="selectedPaciente")
          #selectedPacienteContainer
            span#selectedPacienteLabel
            button(type="button", id="clearPacienteButton") Borrar
        div
          label(for="estado") Estado de la Orden:
          select(name="estado", id="estado", class="select-field")
            option(value="ingresada") Ingresada
            option(value="esperando-toma-muestra") Esperando Toma de Muestra
            option(value="analitica") Analítica
        div
          label(for="examenes") Exámenes:
          input(type="text", id="examSearch", placeholder="Buscar exámenes...", class="input-field")
          #examResults
            // Aquí se mostrarán los resultados de búsqueda de exámenes
          
          select(name="examenesSelect", id="examenesSelect", multiple, class="select-field")
            // Aquí se mostrarán los exámenes seleccionados
          input(type="hidden", name="examenesSelectedIds", id="examenesSelectedIds")
        div
          label Tipos de Muestra:
          each tipo in tiposMuestra
            div
              input(type="checkbox", name="tipos_muestra", value=tipo.value, id=tipo.value)
              label(for=tipo.value)= tipo.label
                select(name="estado_" + tipo.value, class="select-field")
                  option(value="esperando_toma_muestra") Esperando Toma de Muestra
                  option(value="analitica") Analítica
        button(type="submit" class="submit-button") Generar Orden de Trabajo

    script.
      // JavaScript para manejar la búsqueda, selección y eliminación de exámenes
      const examSearchInput = document.getElementById("examSearch");
      const examResults = document.getElementById("examResults");
      const selectedExams = document.getElementById("examenesSelect");
 
      // Lista de todos los exámenes (recibidos desde el servidor)
      const examenes = !{JSON.stringify(examenes)};

      examSearchInput.addEventListener("input", () => {
          const searchTerm = examSearchInput.value.toLowerCase();
          const filteredExams = examenes.filter(examen => {
              return examen.nombre_examen.toLowerCase().includes(searchTerm) || examen.codigo.toLowerCase().includes(searchTerm);
          });
    
          // Limpiar resultados anteriores
          examResults.innerHTML = "";
    
          filteredExams.forEach(examen => {
              const option = document.createElement("option");
              option.value = examen.id_examen;
              option.textContent = `${examen.nombre_examen} (Código: ${examen.codigo}, ID: ${examen.id_examen})`;
              examResults.appendChild(option);
          });
      });
    
      // Manejar la selección de exámenes
      examResults.addEventListener("click", (event) => {
          if (event.target.tagName === "OPTION") {
              const selectedOption = event.target;
              selectedExams.appendChild(selectedOption);
              updateSelectedExamIds();
          }
      });
    
      // Manejar la eliminación de exámenes al hacer doble clic
      selectedExams.addEventListener("dblclick", (event) => {
          if (event.target.tagName === "OPTION") {
              const removedOption = event.target;
              removedOption.remove();
              updateSelectedExamIds();
          }
      });
      
      // Función para actualizar los IDs de exámenes seleccionados
      function updateSelectedExamIds() {
        const selectedOptions = selectedExams.querySelectorAll("option");
        const selectedIds = Array.from(selectedOptions).map(option => option.value).join(",");
        document.getElementById("examenesSelectedIds").value = selectedIds;
      }

      // JavaScript para manejar la búsqueda en tiempo real de pacientes
      const pacienteSearchInput = document.getElementById("pacienteSearch");
      const pacienteResults = document.getElementById("pacienteResults");
      const selectedPaciente = document.getElementById("selectedPaciente");
      const selectedPacienteLabel = document.getElementById("selectedPacienteLabel");
      const selectedPacienteContainer = document.getElementById("selectedPacienteContainer");
      const clearPacienteButton = document.getElementById("clearPacienteButton");
    
      // Lista de todos los pacientes (recibidos desde el servidor)
      const pacientes = !{JSON.stringify(pacientes)};
    
      pacienteSearchInput.addEventListener("input", () => {
          const searchTerm = pacienteSearchInput.value.toLowerCase();
          const filteredPacientes = pacientes.filter(paciente => {
              return paciente.nombre.toLowerCase().includes(searchTerm) || paciente.apellido.toLowerCase().includes(searchTerm) || paciente.dni.toLowerCase().includes(searchTerm);
          });
    
          // Limpiar resultados anteriores
          pacienteResults.innerHTML = "";
    
          filteredPacientes.forEach(paciente => {
              const option = document.createElement("option");
              option.value = paciente.id_paciente;
              option.textContent = `${paciente.nombre} ${paciente.apellido} (DNI: ${paciente.dni}, id: ${paciente.id_paciente})`;
              pacienteResults.appendChild(option);
          });
      });
    
      // Manejar la selección de pacientes
      pacienteResults.addEventListener("click", (event) => {
          if (event.target.tagName === "OPTION") {
              const selectedOption = event.target;
              selectedPaciente.value = selectedOption.value;
              selectedPacienteLabel.textContent = selectedOption.textContent;
              selectedPacienteContainer.style.display = "block";
              pacienteSearchInput.value = ""; // Limpiar el campo de búsqueda
          }
      });
    
      // Manejar la eliminación de pacientes al hacer clic en el botón "Borrar"
      clearPacienteButton.addEventListener("click", () => {
          selectedPaciente.value = "";
          selectedPacienteLabel.textContent = "";
          selectedPacienteContainer.style.display = "none";
      });
    
      // Ocultar la lista de resultados cuando se hace clic fuera del campo de búsqueda
      document.addEventListener("click", (event) => {
          if (event.target !== pacienteSearchInput && event.target !== pacienteResults) {
              pacienteResults.innerHTML = "";
          }
      });
