extends layout

block content
  head
    title Ingresar Datos del Paciente

  body
    .container
      #content
        h2#titulo Ingresar Datos del Paciente
        p.error-mensaje(class="text-danger") #{mensaje}
        form#guardar-form(action="/guardar-paciente" method="post")
          .form-group
            label(for="nombre") Nombre:
            input#nombre.form-control(type="text" name="nombre", value=`${paciente ? paciente.nombre : ''}`, required)

          .form-group
            label(for="apellido") Apellido:
            input#apellido.form-control(type="text" name="apellido", value=`${paciente ? paciente.apellido : ''}`, required)

          .form-group
            label(for="dni") DNI:
            input#dni.form-control(type="text" name="dni", value=`${paciente ? paciente.dni : ''}`, required)

          .form-group
            label(for="fecha_nacimiento") Fecha de Nacimiento:
            input#fecha_nacimiento.form-control(type="date" name="fecha_nacimiento", value=fechaNacimiento, required)

          .form-group
            label(for="genero") Género:
            select#genero.form-control(name="genero", required)
              option(value="femenino", selected=(paciente && paciente.genero.toLowerCase() === "femenino")) Femenino
              option(value="masculino", selected=(paciente && paciente.genero.toLowerCase() === "masculino")) Masculino

          .form-group
            label(for="embarazo") ¿Embarazo?
            select#embarazo.form-control(name="embarazo", required)
              option(value=0, selected=(paciente && paciente.embarazo === 0)) No
              option(value=1, selected=(paciente && paciente.embarazo === 1)) Sí

          .form-group
            label(for="direccion") Dirección:
            input#direccion.form-control(type="text" name="direccion", value=`${paciente && paciente.direccion }`)

          .form-group
            label(for="telefono") Teléfono:
            input#telefono.form-control(type="text" name="telefono", value=`${paciente ? paciente.telefono : ''}`)

          .form-group
            label(for="email") Correo Electrónico:
            input#email.form-control(type="email" name="email", value=`${paciente ? paciente.email : ''}`)

          .form-group
            label(for="diagnostico") Diagnóstico (presuntivo o confirmado):
            input#diagnostico.form-control(type="text" name="diagnostico", value=`${paciente ? paciente.diagnostico : ''}`)

          button#guardar-btn.btn.btn-primary(type="submit") Guardar Datos
